
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="nav-side-menu">
    <div class="brand">Jquery Application</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard fa-lg"></i> J Query
                </a>
            </li>

            <li data-toggle="collapse" data-target="#products" class="collapsed active">
                <a href="#"><i class="fa fa-gift fa-lg"></i> Meus Exemplo JQuery <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li>@Html.ActionLink("Limpar Text Box", "LimparTextBox")</li>
                <li>@Html.ActionLink("Inserir No Text Box", "InserirValor")@*<a href="#">General</a>*@</li>
                <li>@Html.ActionLink("Mudar Classe", "MudarClasse")</li>
                <li>@Html.ActionLink("Mostrar Alerta", "MostrarAlerta")</li>
                <li>@Html.ActionLink("Operação Matematicas", "OperacaoMatematica")</li>
                <li><a href="#">FontAwesome</a></li>
                <li><a href="#">Slider</a></li>
                <li><a href="#">Panels</a></li>
                <li><a href="#">Widgets</a></li>
                <li><a href="#">Bootstrap Model</a></li>
            </ul>


            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Exemplos Curso Jquery <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <li>@Html.ActionLink("Alo Mundo", "AloMundo")</li>
                <li>@Html.ActionLink("Entendendo o JQuery", "EntendendoJQuery")</li>
                <li>@Html.ActionLink("Hieranquia de Seletores basicos", "Seletores")</li>
                <li>@Html.ActionLink("Seletores De Filtro", "SeletoresDeFiltro")</li>
                <li>@Html.ActionLink("Seletores De Conteudo", "SeletoresDeConteudo")</li>
                <li>@Html.ActionLink("Seletores de formularios", "Seletoresdeformularios")</li>
                <li>@Html.ActionLink("Hierarquia de Seletores", "hierarquiasdeseletores ")</li>
                <li>@Html.ActionLink("Funcoes De Atributos", "FuncoesDeAtributos")</li>
                <li>@Html.ActionLink("Funcoes De Atributos Um Pouco Mais", "FuncoesDeAtributosUmPOcoMais")</li>
                <li>@Html.ActionLink("Combinar atributos", "Append")</li>
                <li>@Html.ActionLink("Funcoes De Manipulacao De Edição", "FuncoesDeManipulacao")</li>
                <li>@Html.ActionLink("Funcoes De Manipulacao De Inserção e Remoção", "FuncoesDeManipulacaoInsercao")</li>
                <li>@Html.ActionLink("Manipulação De CSS", "ManipulacaoCss")</li>
                <li>@Html.ActionLink("Eventos De Mouse", "EventoMouse")</li>
                <li>@Html.ActionLink("Eventos De Teclado", "EventoTeclado")</li>
                <li>@Html.ActionLink("Eventos De Teclado Mais", "EventoTecladomais")</li>
                <li>@Html.ActionLink("Associações", "Associacoes")</li>
                <li>@Html.ActionLink("Trigger e Delegate", "TriggerDelegate")</li>
                <li>@Html.ActionLink("Efeitos Basicos", "EfeitosBasicos")</li>
                <li>@Html.ActionLink("Efeitos de Slide e Fade", "EfeitosSlideFade")</li>
                <li>@Html.ActionLink("efeito zebra em tabelas", "efeitozebra")</li>
                <li>@Html.ActionLink("Efeito hover em tabelas", "Efeitohover ")</li>
                <li>@Html.ActionLink("Tooltip para celulas de tabelas", "Tooltipparacelulas ")</li>
                <li>@Html.ActionLink("Efeito hover nas colunas da tabelas", "EfeitohovernasColunas ")</li>
                <li>@Html.ActionLink("Exibir e esconder linhas da tabelas", "Exibiresconderlinhas  ")</li>
                <li>@Html.ActionLink("dicas de formulario", "dicadeformulario  ")</li>
                <li>@Html.ActionLink("Selecionando campos do tipo checkbox", "Selecionandocamposdotipocheckbox  ")</li>
                <li>@Html.ActionLink("Contagem de caracteres", "Contagemdecaracteres  ")</li>
                <li>@Html.ActionLink("Acessando valores via frames", "Acessandovaloresviaframes")</li>
                <li>@Html.ActionLink("Acessando valores via frames", "estringindovaloresnaonumericos")</li>
                <li>@Html.ActionLink("ThemeRoller com jQuery UI", "ThemeRoller")</li>
            </ul>


            <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="new">
                <li>New New 1</li>
                <li>New New 2</li>
                <li>New New 3</li>
            </ul>


            <li>
                <a href="#">
                    <i class="fa fa-user fa-lg"></i> Profile
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-users fa-lg"></i> Users
                </a>
            </li>
        </ul>
    </div>
</div>

